<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Agensi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Agensi')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Agensi</h2>
                <br>
                <form th:action="@{/agensi/add}" th:object="${agensi}" method="POST">
                    Nama Agensi : <br>
                    <input class="form-control" type="text" name="namaAgensi" th:value="${agensi.namaAgensi} != null ? ${agensi.namaAgensi} : ''"/>
                    <br><br>

                    Alamat Agensi: <br>
                    <input class="form-control" type="text" name="alamatAgensi" th:value="${agensi.alamatAgensi} != null ? ${agensi.alamatAgensi} : ''"/>
                    <br><br>

                    Nomor Telepon : <br>
                    <input class="form-control" type="text" name="noTeleponAgensi" th:value="${agensi.noTeleponAgensi} != null ? ${agensi.noTeleponAgensi} : ''"/>
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" type="time" name="waktuBuka" th:value="${agensi.waktuBuka} != null ? ${agensi.waktuBuka} : ''"/>
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" type="time" name="waktuTutup" th:value="${agensi.waktuTutup} != null ? ${agensi.waktuTutup} : ''"/>
                    <br><br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Negara Destinasi</th>
                            <th><button class="btn btn-primary" type="submit" value="tambah-row" name="tambah-row">Tambah Row</button></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="negara, iterationStat : *{listDestinasi}">
                            <td>
                                <select name="negaraDestinasi" class="custom-select" th:field="*{listDestinasi}">
                                    <option th:each="dest : ${listDestinasi}"
                                            th:value="${dest.noDestinasi}"
                                            th:text="${dest.negaraDestinasi}"></option>
                                    <option selected="selected" th:value="${negara.noDestinasi}" th:text="${negara.negaraDestinasi}"></option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-danger" name="hapus-row" th:value="${iterationStat.index}" type="submit">Hapus</button></th>
                            </td>
                        </tr>
                        <tr id="new-input">
                            <td>
                                <select name="negaraDestinasi" class="custom-select" th:field="*{listDestinasi}">
                                    <option th:each="dest : ${listDestinasi}"
                                            th:value="${dest.noDestinasi}"
                                            th:text="${dest.negaraDestinasi}"></option>
                                </select>
                            </td>
                            <td>
                                <a class="btn btn-danger">Hapus</a></th>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <button class="btn btn-primary" type="submit" name="save-data" value="save-data">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>