<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-header">
            Update Password
        </div>
        <div class="card-body">
            <div th:if="${param.error}">
                <span style="color: red"> Password gagal di-update </span>
            </div>
            <form th:action="@{/user/change-password/} + ${#httpServletRequest.remoteUser}" method="POST">
                <div class="row form-group">
                    <label class="col-sm-4">Password lama:</label>
                    <input type="text" class="col-sm-8 form-control input-sm" name="passLama">
                </div>
                <div class="row form-group">
                    <label class="col-sm-4">Password baru:</label>
                    <input type="text" class="col-sm-8 form-control input-sm" name="passBaru">
                </div>
                <div class="row form-group">
                    <label class="col-sm-4">Konfirmasi Password baru:</label>
                    <input type="text" class="col-sm-8 form-control input-sm" name="passKonf">
                </div>
                <div th:switch="${msg}" style="">
                    <p th:case="0" style="color:red;">Password Lama Salah!</p>
                    <p th:case="1" style="color:red;">Password baru dan konfirmasi salah!</p>
                    <p th:case="2" style="color:red;">Password harus mengandung angka, huruf besar, huruf kecil, dan simbol serta minimal memiliki 8 karakter!</p>
                    <p th:case="3" style="color:green;">Password berhasil diupdate!</p>
                </div>
                <div class="justify-content-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>

    </div>
</div>