<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h2 th:text="'Daftar Agensi dengan nama ' + ${namaAgensi}"></h2>
<div th:each="agensi: ${listAgensi}">
    <h3 th:text="'Id Agensi     : ' + ${agensi.idAgensi}"></h3>
    <h3 th:text="'Nama Agensi   : ' + ${agensi.namaAgensi}"></h3>
    <h3 th:text="'Alamat Agensi : ' + ${agensi.alamat}"></h3>
    <h3 th:text="'No Telepon    : ' + ${agensi.noTelepon}"></h3>
</div>
</body>
</html>